 #linkes a {
    color: #EFEEEA;
    text-decoration: none;
    transition: .2s;
  }

  #linkes a:hover {
    color: #FE7743;
    margin-left: 10px;
    transition: .3s;
  }

  #linkes i{
    font-size: 18px;
  }